{% extends 'authentication/base.html' %}
{% load widget_tweaks %}

{% block content %}

<h1>Register</h1>

<h2>HTMX</h2>

<form method="POST" autocomplete="off">
    {% csrf_token %}

    <div class="form-group">
        <label>{{ form.username.label_tag }}</label>
        {{ form.username.errors }}
        {% render_field form.username class="form-control" hx-post="/check_username/" hx-swap="outerhtml" hx-trigger="keyup delay:200ms" hx-target="#username-error" autocomplete="off" %}
        <div id="username-error"></div>

        <label>{{ form.password1.label_tag }}</label>
        {{ form.password1.errors }}
        {% render_field form.password1 class="form-control" %}

        <label>{{ form.password2.label_tag }}</label>
        {{ form.password2.errors }}
        {% render_field form.password2 class="form-control" %}

    </div>


    <input type="submit" value="Register">
</form>

{% endblock content %}

