{% extends 'modal.html' %}

{% block content %}
<div id="modal-wrapper" class="modal-wrapper"
     hx-get="{% url 'close_modal' %}"
     hx-target="#modal-wrapper"
     hx-swap="outerHTML"
     hx-trigger="click target:#modal-wrapper"
>

    <div id="modal new-folder-modal" class="modal new-folder-modal">

        <h3 class="modal-title">Nova Pasta</h3>

        <form   style="justify-content: space-between;"
                hx-post="{% url 'new_folder' %}"
                hx-target="#content-area"
                _="on htmx:afterRequest add .inactive to #modal-wrapper then log 'modal-wrapper inactive'"
        >
            <input type="text" name="folder_name" id="folder_name" placeholder="nome" autofocus autocomplete="off">

            <hr>

            <button class="close-modal"
                    type="button"
                    hx-get="{% url 'close_modal' %}"
                    hx-target="#modal-wrapper"
                    hx-swap="outerHTML"
            >
            cancel
            </button>

            <button type="submit">ok</button>

        </form>

    </div>
</div>

{% endblock %}