{% extends 'modal.html' %}

{% block content %}
<div id="modal-wrapper" class="modal-wrapper"
     hx-get="{% url 'close_modal' %}"
     hx-target="#modal-wrapper"
     hx-swap="outerHTML"
     hx-trigger="click target:#modal-wrapper"
>

    <div id="modal new-folder-modal" class="modal new-folder-modal">

        <h3 class="modal-title">Nova Pasta</h3>

        <form   class="new-folder-form"
                hx-post="{% url 'new_folder' %}"
                hx-target="#content-area"
                _="on htmx:afterRequest add .inactive to #modal-wrapper then log 'modal-wrapper inactive'"
        >
            <input style="height: 2em;" type="text" name="folder_name" id="folder_name" placeholder="nome" autofocus autocomplete="off">
            <div class="folder-color-select-container">
                {% for i in '0123456'|make_list %}
                    <div class="folder-color-select-option"></div>
                {% endfor %}
            </div>
            <hr>
            
            <div style="display: flex; justify-content: space-between;">

                <button class="close-modal new-folder-form-btn"
                        type="button"
                        hx-get="{% url 'close_modal' %}"
                        hx-target="#modal-wrapper"
                        hx-swap="outerHTML"
                >
                    cancel
                </button>

                <button class="new-folder-form-btn" type="submit">ok</button>
            </div>

        </form>

    </div>
</div>

{% endblock %}