{% if folder is None %}

    {% if selected is True %}

    <div class="folder-list-item folder-selected">

    {% else %}

    <div class="folder-list-item"
         hx-get="{% url 'all' %}"
         hx-target="#content-area"
    >
    {% endif %}

        Todas

{% else %}

    {% if selected is True %}

    <div class="folder-list-item folder-selected">

    {% else %}

    <div class="folder-list-item"
         hx-get="{% url 'open' folder.pk %}"
         hx-target="#content-area"
    >
    {% endif %}

        <p>{{ folder.folder_name }}</p>

        <!-- Delete button -->
        <div class="list-item-del folder-btn hover-only-btn" id="del-btn" onclick="folder_delete(this, event)"
             hx-delete="{% url 'f_del' folder.pk %}"
             hx-target="#tasks-wrapper"
             hx-trigger="confirmed"
             _="on folder_delete log 'folder_delete event !!!!!!!!!!' then call
             Swal.fire({
                title: 'Delete this task?',
                text:'Any tasks inside this folder will be deleted',
                 showDenyButton: true,
                 confirmButtonText: 'Yes, delete it!'
             })
             if result.isConfirmed trigger confirmed
             add_listeners_to_task()"
        >
            <span class="material-symbols-outlined">
                delete
            </span>
        </div>

{% endif %}

</div>

