{% if folder is None %}

    {% if selected is True %}

    <div class="folder-list-item selected">

    {% else %}

    <div class="folder-list-item"
         hx-get="{% url 'all' %}"
         hx-target="#content-area"
         _="on htmx:afterRequest x_scroll_apply()"
    >
    {% endif %}

        Todas

{% else %}

    {% if selected is True %}

    <div class="folder-list-item selected">

    {% else %}

    <div class="folder-list-item"
         hx-get="{% url 'open' folder.pk %}"
         hx-target="#content-area"
         _="on htmx:afterRequest x_scroll_apply()"
    >
    {% endif %}

        {{ folder.folder_name }}

        {% include 'delete.html' with del_url="f_del" item_id=folder.pk target="#tasks-wrapper" item="folder" text="Any tasks inside this folder will be deleted" btn_text="" %}


{% endif %}

</div>

