{% if folder is None %}
<div id="folder_all">

    {% if selected is True %}

    <div class="folder-list-item folder-selected">

    {% else %}

    <div class="folder-list-item"
         hx-get="{% url 'all' %}"
         hx-target="#content-area"
    >
    {% endif %}

        <div style="display: flex; align-items: center; height: 1em; ">
            <div class="folder-color-icon color-all"></div>
            <p>Todas</p>
        </div>

{% else %}
<div id="folder_{{folder.pk}}">

    {% if selected is True %}

    <div class="folder-list-item folder-selected">

    {% else %}

    <div class="folder-list-item"
         hx-get="{% url 'open' folder.pk %}"
         hx-target="#content-area"
    >
    {% endif %}


        <div style="display: flex; align-items: center; height: 1em; ">
            <div class="folder-color-icon" style="background: var(--folder-color-{{ folder.color }})" onclick="folder_edit(this, event)"
                 hx-get="{% url 'edit-folder-color' folder.pk %}"
                 hx-target="#folders-wrapper"
                 hx-swap="outerHTML"
                 _="on htmx:afterRequest trigger update on #tasks-super-update"
            >
                <span class="material-symbols-outlined">
                    autorenew
                </span>
            </div>
            <p>{{ folder.folder_name }}</p>
        </div>

        <!-- Delete button -->
        <div class="list-item-del folder-btn hover-only-btn" id="del-btn" onclick="folder_delete(this, event)"
             hx-delete="{% url 'f_del' folder.pk %}"
             hx-target="#tasks-wrapper"
             hx-trigger="confirmed"
             _="on folder_delete log 'folder_delete event !!!!!!!!!!' then call
             Swal.fire({
                title: 'Delete this task?',
                text:'Any tasks inside this folder will be deleted',
                 showDenyButton: true,
                 confirmButtonText: 'Yes, delete it!'
             })
             if result.isConfirmed trigger confirmed
             add_listeners_to_task()"
        >
            <span class="material-symbols-outlined">
                delete
            </span>
        </div>

{% endif %}

</div>

</div>
