{% load static %}

{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TheToDoOffice</title>

    <link rel="stylesheet" href="{% static 'base/styles.css' %}" />

</head>

<body>

<!--left menu with Logo, fast task form and folders list -->
<section class="toolbar">

    <h1>The To Do Office</h1>
    <hr>

    {% include 'authentication/bar.html' %}
    <hr>

    {% include 'todo/new_task_fast.html' %}
    <hr>

</section>

<!--content area where all the tasks are shown -->
<section class="content-area">

    {% block content%}

    {% endblock %}

    <div class="search-box">
        {% include 'search.html' %}
    </div>

</section>


</body>
</html>