<!-- one or more tasks selected: 1-toggle completed; 2-delete; 3-desselect -->
<div class="sel-actions-list">
    
    <div class="sel-actions-btn material-symbols-outlined"
         hx-get="{% url 'sel-all' %}"
         hx-target="#null"
         hx-swap="innerHTML"
         _="on htmx:afterRequest trigger update on .sel-tasks-super-updater-manager"
    >filter_none</div>

    <div class="sel-actions-btn material-symbols-outlined"
         hx-post="{% url 'sel-del' %}"
         hx-target="#tasks-wrapper"
         hx-trigger="confirmed"
         _="on click log 'selected delete event !!!!!!!!!!' then call
         Swal.fire({
            title: 'Delete the selected tasks?',
            text:'Are you sure?',
             showDenyButton: true,
             confirmButtonText: 'Yes, delete them please!'
         })
         if result.isConfirmed trigger confirmed
         add_listeners_to_task()
         trigger sel_actions_update on .sel-actions then call event.stopPropagation()
        "
     >delete_sweep</div>

    <div class="sel-actions-btn material-symbols-outlined"
         hx-get="{% url 'sel-move-modal' %}"
         hx-target="#modal-wrapper"
         hx-swap="outerHTML"
    >drive_file_move</div>

    <div class="sel-actions-btn material-symbols-outlined"
         hx-get="{% url 'sel-complete' %}"
         hx-target="#tasks-wrapper"
    >done_all</div>

</div>
