<div class="task" id="{{ task.pk }}">
    <div id="#select_{{ task.pk }}"
         style="display: none;"
         hx-post="{% url 'sel' task.pk %}"
         hx-target="#null"
         hx-swap="innerHTML"
         hx-trigger="task_select"
         _="on htmx:afterRequest remove .selected from .task then add .selected to closest .task log 'single_sel | task {{ task.pk }} selected'"
></div>
    <div id="#select_multi_{{ task.pk }}"
         style="display: none;"
         hx-post="{% url 'sel_multi' task.pk %}"
         hx-target="#null"
         hx-swap="innerHTML"
         hx-trigger="task_select_multi"
         _="on htmx:afterRequest toggle .selected on closest .task log 'multi_sel | task {{ task.pk }} selected'"
></div>
    <div style="background: purple;">{{ task.title }}</div>
<!--    <div><a href="{ url 'task' task.id %}">View</a></div>-->
<!--    <div><a href="{ url 'edit' task.id %}">Edit</a></div>-->
    {% include 'delete.html' with del_url="del" item_id=task.id target="#content-area" item="task" btn_text="X" %}
</div>
