{% extends 'todo/base.html' %}

{% block content%}

<!--task list-->
<table>
    <tr>
        <th>Tasks:</th>
        <th>☺</th>
        <th>☻</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'edit' task.id %}">Edit</a></td>
        <td><a href="{% url 'del' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <td>empty.</td>
    {% endfor %}
</table>

{% endblock %}