{% if task.completed %}
<div class="task task-completed" id="task_{{ task.pk }}">
{% else %}
<div class="task" id="task_{{ task.pk }}">
{% endif %}

    <!-- Task Data -->
    <div class="task-data-wrapper">

        <!-- Completed Checkbox -->
        <div id="task-complete-box" class="task-complete-box task-btn"
            hx-get="{% url 'complete' task.pk %}"
            hx-target="#task_{{ task.pk }}"
            hx-swap="outerHTML"
            hx-trigger="click"
            _="on htmx:afterRequest log 'task {{ task.pk }} is now {{ task.completed }}'"
        >
            {% if task.completed %}
            <span class="material-symbols-outlined"> done </span>
            {% endif %}
        </div>

        <!-- htmx: Select -->
        <div id="#select_{{ task.pk }}"
             style="display: none;"
             hx-post="{% url 'sel' task.pk %}"
             hx-target="#null"
             hx-swap="innerHTML"
             hx-trigger="task_select"
            _="on htmx:afterRequest
                set x to 0
                for t in .task
                    if t is not closest .task 
                        if is_selected(t)
                            remove .selected from t then increment x then log 'removed .selected from t'
                        end
                    end
                end
                if x < 1
                    toggle .selected on closest .task
                else
                    add .selected to closest .task
                end
            "
        ></div>

        <!-- htmx: Select multi -->
        <div id="#select_multi_{{ task.pk }}"
             style="display: none;"
             hx-post="{% url 'sel-multi' task.pk %}"
             hx-target="#null"
             hx-swap="innerHTML"
             hx-trigger="task_select_multi"
            _="on htmx:afterRequest toggle .selected on closest .task"
        ></div>

        <!-- Title -->
        <div class="task-text">{{ task.title }}</div>
    </div>

    <!-- right buttons: Move; Delete -->
    <div class="task-btn-wrapper">

        <!-- Move / Change Folder button -->
        <div class="task-move-btn task-btn hover-only-btn"
             hx-get="{% url 'move-modal' task.pk %}"
             hx-target="#modal-wrapper"
             hx-swap="outerHTML"
        >
            <span class="material-symbols-outlined">
                drive_file_move
            </span>
        </div>

        <!-- Delete button -->
        {% include 'delete.html' with del_url="del" item_id=task.id target="#content-area" item="task" class="task-btn hover-only-btn" %}
    </div>
</div>
