{% if task.folder %}
<div class="task-outline" style="background: var(--folder-color-{{task.folder.color}})"
     _="on check_if_selected(sel_tasks)
        if sel_tasks.length > 0 and sel_tasks contains {{task.pk}}
            add .task-selected to me
        else
            remove .task-selected from me
        end
     "
>
{% else %}
<div class="task-outline color-all"
     _="on check_if_selected(sel_tasks)
        if sel_tasks.length > 0 and sel_tasks contains {{task.pk}}
            add .task-selected to me
        else
            remove .task-selected from me
        end
     "
>
{% endif%}
    {% if task.completed %}
    <div class="task task-completed" id="task_{{ task.pk }}" onclick="task_select(this, event)">
    {% else %}
    <div class="task" id="task_{{ task.pk }}" onclick="task_select(this, event)">
    {% endif %}

        <div class="task-data-wrapper">
            
            <!-- Completed Checkbox -->
            <div id="task-complete-box" class="task-btn task-complete-box" onclick="task_complete(this, event)"
                hx-post="{% url 'complete' task.pk %}"
                hx-target="#null"
                hx-swap="innerHTML"
                hx-trigger="task_complete"
                _="on htmx:afterRequest 
                    toggle .task-completed on closest .task 
                    log 'task {{ task.pk }} is now {{ task.completed }}'
                "
            >
                {% if task.completed %}
                <span id="checkbox" class="material-symbols-outlined check-box check-box-active">done</span>
                {% else %}
                <span id="checkbox" class="material-symbols-outlined check-box">done</span>
                {% endif %}
            </div>

            <!-- Title -->
            <div class="task-text">{{ task.title }}</div>

        </div>

        <!-- htmx with custom event triggers -->
        <div id="task-selection-wrapper">

            <!-- htmx: Select -->
            <div id="task-select-single"
                style="display: none;"
                hx-post="{% url 'sel' task.pk %}"
                hx-target="#null"
                hx-swap="innerHTML"
                hx-trigger="task_select"
                _="on htmx:afterRequest trigger update on .sel-tasks-super-updater-manager"
                ></div>

            <!-- htmx: Select multi -->
            <div id="task-select-multi"
                style="display: none;"
                hx-post="{% url 'sel-multi' task.pk %}"
                hx-target="#null"
                hx-swap="innerHTML"
                hx-trigger="task_select_multi"
                _="on htmx:afterRequest trigger update on .sel-tasks-super-updater-manager"
                ></div>
        </div>

        <!-- right buttons: Move; Delete -->
        <div class="task-btn-wrapper">
            
            {% if allow_move_btn is True %}
            <!-- Move / Change Folder button -->
            <div id="task-move-button" class="hover-only-btn task-btn task-move-btn" onclick="task_move(this, event)"
                hx-get="{% url 'move-modal' task.pk %}"
                hx-trigger="task_move"
                hx-target="#modal-wrapper"
                hx-swap="outerHTML"
                _="on htmx:afterRequest log 'this seems to have been triggered'"
            >
                <span class="material-symbols-outlined">
                    drive_file_move
                </span>
            </div>
            {% endif %}

            <!-- Delete button -->
            <div class="hover-only-btn task-btn list-item-del" id="task-del-btn" onclick="task_delete(this, event)"
                hx-delete="{% url 'del' task.id %}"
                hx-target="#content-area"
                hx-trigger="confirmed"
                _="on task_delete log 'task_delete event !!!!!!!!!!' then log {{task.id}} then log {{task.pk}} then call
                Swal.fire({
                    title: 'Delete this task?',
                    showDenyButton: true,
                    confirmButtonText: 'Yes, delete it!'
                })
                if result.isConfirmed trigger confirmed"
            >
                <span class="material-symbols-outlined">
                    delete
                </span>
            </div>

        </div>
    </div>
</div>