:root {

    --base-col-0: #313131;
    --base-col-1: #212121;
    --base-col-2: #1a1a1a;
    --base-col-3: #0e0e0e;
    --base-col-4: #525252;
    --base-col-5: #272727;
    --base-col-6: #c9c9c9;

    --base-font-col: white;

    color: var(--base-col-6);

    --soft-highlight-1: thistle;
    --soft-highlight-2: lightsteelblue;

    --highlight-2: skyblue;

    --sel-tools-btn: mediumblue;
    --sel-tools-txt: darkseagreen;

    --selected-highlight: blue;

    --scrollbar-thumb: black;

    --folder-color-0:  #FF8080; /* red     */
    --folder-color-1:  #FFBF80; /* orange  */
    --folder-color-2:  #FFFF80; /* yellow  */
    --folder-color-3:  #BFFF80; /* green 1 */
    --folder-color-4:  #80FF80; /* green 2 */
    --folder-color-5:  #80FFBF; /* cyan 1  */
    --folder-color-6:  #80FFBF; /* cyan 2  */
    --folder-color-7:  #80FFFF; /* blue 1  */
    --folder-color-8:  #80BFFF; /* blue 2  */
    --folder-color-9:  #8080FF; /* d blue  */
    --folder-color-10: #BF80FF; /* indigo  */
    --folder-color-11: #FF80FF; /* violet  */
    --folder-color-12: #FF80BF; /* pink    */
}