
.folders-header {

background: rgb(140, 140, 155);

    height: 1.25em;
    padding: .25em .25em;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.new-folder {

    cursor: pointer;

    width: 2em;
    border-radius: .375em;

}

.folder-list {

background: rgb(109, 94, 96);

    margin: 0;
    padding: .25em .25em .25em .5em;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    flex-direction: column;
}

.folder-list-item {

    cursor: pointer;

    margin: .25em .125em .25em .25em;
    padding: .125em .25em;

    display: flex;
    justify-content: space-between;

    border-radius: .25em;

}

.selected {

    cursor: unset;
    background: whitesmoke;

    outline: 5px blue solid;
}

.folder-list-item:hover {

    background: grey;
    box-shadow: black 1px 1px 1px 1px;

}

.folder-list-item:hover > .list-item-del {
    display: unset;
}
