{% if folder is not None %}
<div class="task-change-folder-li"
     hx-get="{% url 'move' target_task.pk folder.pk %}"
     hx-target="#content-area"
     _="on htmx:afterRequest add .inactive to #modal-wrapper then log 'modal-wrapper inactive'"
>
    <div class="folder-color-icon" style="background: var(--folder-color-{{ folder.color }})"></div>
{% else %}
<div class="task-change-folder-li"
     hx-get="{% url 'move' target_task.pk %}"
     hx-target="#content-area"
     _="on htmx:afterRequest add .inactive to #modal-wrapper then log 'modal-wrapper inactive'"
>
    <div class="folder-color-icon color-all"></div>
{% endif %}
    <p>{{ folder_name }}</p>
</div>
