hr {
    opacity: 0;
}

.modal-wrapper {
    position:fixed;
    top: 0;
    left: 0;

    z-index: 100;

    background: rgba(100, 150, 200, .5);
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-wrapper.inactive {
    display: none;
}

.modal-wrapper > div {
    z-index: 101;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.close-modal {

}

.modal {
    border: 3px solid black;

    background: var(--base-col-0);

    padding: .25em;
    z-index: 100;
}

.modal-title {
    text-align: center;
}

.new-folder-modal {
    /* width: 50vw;
    height: 50vh; */

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.task-change-folder-modal {
    min-width: 50vw;
    padding: 1em;
    border-radius: 16px;
}

.task-change-folder-modal > ul{
    margin: .5em;
    padding: 0;
}

.task-change-folder-li {
    background: var(--base-col-1);
    cursor: pointer;
    margin: 0.25em 0.125em 0.25em 0.25em;
    padding: 0.125em 0.25em;

    height: 1em;

    border-radius: 4px;

    display: flex;
    align-items: center;
}

.task-change-folder-li > p {
    margin: 0;
    padding: 0;
    padding-left: .25em;
}

.task-change-folder-li:hover {
    background: var(--base-col-2);
    box-shadow: white 0 0 4px 2px;
}