
:root {

    --dark-green:   darkgreen;
    --darker-green: rgb(36, 56, 34);

}

body{
    padding: 0;
    margin: 0;
}

.main {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* overflow: hidden; */

}

.toolbar-container {
    /* background: var(--base-col-4); */
    /* background: linear-gradient(to left, var(--base-col-1), var(--base-col-6)); */
    background: linear-gradient(var(--base-col-0), var(--base-col-5));

    z-index: 1;

    min-width: 14rem;
    width: 14vw;

}

/* left side */
.toolbar {
    background: var(--base-col-2);

    height: 100%;
    margin: 0 2px 0 2px;

    /* border: var(--base-col-3) 2px solid; */
    border-radius: 8px;
    /* border-bottom: none; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}

.toolbar-logo {
    background-color: khaki;
    text-align: center;
    height: 2em;
    margin: 0;
    padding: 0;
}

.toolbar-main {
    padding: 0 1rem 0 1rem;
}

.footer {
    /* background: var(--base-col-5); */

    background: linear-gradient(var(--base-col-2), var(--base-col-4));
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item {
    width: 35%;
    
    border-radius: 50%;
    
    text-align: center;
    font-size: medium;
}

.footer-item > a {
    color: black;
}

.footer-item > a:hover {
    color: var(--base-col-1);
    text-shadow: var(--base-col-0) 0 0 5px;
}

.new-task-form {
    background:var(--base-col-4);
    
    padding: .125em .125em .125em .25em;

    /* outline: black 2px solid; */
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.new-task-form > input {
    height: 1.75em;
    width: 80%;
    background: var(--base-col-1);
    box-shadow: inset var(--base-col-0) 0 0 5px;
    border: none;
    border-radius: 4px;
}

.new-task-form > input:hover {
    background: var(--base-col-1);
    box-shadow: inset lightcyan 0 0 10px;
}

.new-task-form > input:focus {
    outline: var(--hightlight-2) solid 3px;
    background: var(--base-col-0);
    box-shadow: inset var(--soft-hightlight-2) 0 0 8px;

}

.new-task-form > button {
    border:var(--soft-highlight-1) 4px groove;
    height: 2.5em;
    border-radius: 4px;
    margin-left: .25em;
}

.new-task-form > button:hover {
    border-color: var(--highlight-2);
}

/* right side */
.container {

    width: 100%;
    max-width: 86vw;


    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    overflow: hidden;

}

.content-area {
    /* background:var(--base-col-1); */
    background: linear-gradient(var(--base-col-1), var(--base-col-2));
    width: 100%;
}

.folder-name-container {
    background:var(--base-col-2);
    
    box-shadow: inset 0 -4px var(--base-col-3);

    height: 16vh;
    transform: translateY(-50%);

    z-index: 2;

    /* border: 4px var(--base-col-2) solid; */
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.folder-name-container > div {
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.folder-name-text {
    z-index: inherit;

    height: 1em;
    min-width: 10em;
    
    margin: 0 0 .25em 1em;

    display: block;

    /* overflow: hidden; */
    /* overflow-y: hidden; */
    white-space: nowrap;

    text-overflow: ellipsis;

}

.sel-tools {
    margin: 0 1em;

    position: relative;
    /* top: .25em; */
    right: 0;

    background: var(--base-col-0);

    display: flex;
    justify-content: flex-end;
}

.sel-tools > div {
    
    margin: .25em;
    min-width: 1em;

    background: var(--sel-tools-btn);
    color: var(--sel-tools-txt);

    font-weight: bold;
    font-size: 4vh;

    text-align: center;
}

/* tasks */
.tasks-container {

    width: 100%;
    height: 92vh;

    position: relative;
    top: -8vh;

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */

}

.task-list {

    z-index: 0;

    margin-top: 1vh;

    height: 90.5vh;
    max-width: 86vw;

    overflow-x: scroll;

    display: flex;
    flex-flow: column wrap;

    align-content: flex-start;
    align-items: start;

}

/* width */
::-webkit-scrollbar {
    width: 1.5vh;
    height: 1.5vh;
}
  
/* Track */
::-webkit-scrollbar-track {
    border: solid 4px transparent;
    box-shadow: inset 0 0 14px 14px var(--base-col-6);
    /* box-shadow: inset 0 0 16px black;
    border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: solid 2px var(--base-col-3);
    box-shadow: inset 0 0 14px 14px var(--base-col-2);
    border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
    border: solid 2px var(--base-col-5);
    box-shadow: inset 0 0 14px 14px var(--base-col-0);
}

.task {
    min-width: 12em;
    height: 2em;

    padding: .25em;
    margin: .5em 4em;

    align-items: center;

    display: flex;
    justify-content: space-between;

    background: var(--base-col-0);

    outline: solid var(--dark-green) 3px;
    /* border: 2px outset darkslategrey; */
    
    border-radius: 6px;

}

.task-data-wrapper {
    display: flex;
    align-items: center;
}

.task-completed {
    background: var(--base-col-6);
    outline-width: 1px;
    border: 3px solid var(--darker-green);
}

.task-complete-box {
    height: 1.25em;
    width: 1.25em;

    background: var(--base-col-2);

    outline: solid var(--base-col-6) 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

.check-box {
    opacity: 0;
    z-index: 1;
    font-size: xxx-large;
    font-weight: bolder;
    color: var(--dark-green);
    text-shadow: yellowgreen 1px 0px 2px;
}

.check-box-active {
    opacity: unset;
}

.task-completed > .task-data-wrapper > .task-complete-box {
    outline: 3px solid var(--base-col-3);
    background: var(--base-col-5);
    box-shadow: none;
}

.task-completed > .task-data-wrapper > .task-text {
    color: var(--dark-green);
    text-decoration: line-through;
    font-style: italic;
    text-align: left;
}

.task-text {
    user-select: none;
    margin: 0 .5em;
}

.task-btn-wrapper {
    width: 3.75em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.task-btn {
    height: 1.5em;
    width: 1.5em;
    margin: .25em;

    border-radius: 4px;

    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;
    align-self: center;

}

.hover-only-btn {
    opacity: 0;
    
    background: var(--base-col-1);
    box-shadow: inset var(--base-col-6) 0 0 1px;
}

.task-move-btn:hover {
    background: burlywood;
}

.list-item-del:hover {
    background: red;
}

.task:hover > .task-btn-wrapper > .hover-only-btn {
    opacity: 100%;
}

.task-selected {
    cursor: unset;
    /* background: var(--base-col3)smoke; */

    outline: 4px var(--selected-highlight) groove;
}

.search-box {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}