
:root {

    --dark-green:   darkgreen;
    --darker-green: rgb(36, 56, 34);

    --base-col-0: #ffffff;
    --base-col-1: #d9d9d9;
    --base-col-2: #bfbfbf;
    --base-col-3: #7e7e7e;
    --base-col-4: #6f6f6f;
    --base-col-5: #5b5b5b;
    --base-col-6: #3f3f3f;

    --soft-highlight-1: thistle;
    --soft-highlight-2: lightsteelblue;

    --highlight-2: skyblue;

    --sel-tools-btn: mediumblue;
    --sel-tools-txt: darkseagreen;

    --selected-highlight: blue;

    --scrollbar-thumb: black;

    --folder-color0:  #FF8080; /* red     */
    --folder-color1:  #FFBF80; /* orange  */
    --folder-color2:  #FFFF80; /* yellow  */
    --folder-color3:  #BFFF80; /* green 1 */
    --folder-color4:  #80FF80; /* green 2 */
    --folder-color5:  #80FFBF; /* cyan 1  */
    --folder-color6:  #80FFBF; /* cyan 2  */
    --folder-color7:  #80FFFF; /* blue 1  */
    --folder-color8:  #80BFFF; /* blue 2  */
    --folder-color9:  #8080FF; /* d blue  */
    --folder-color10: #BF80FF; /* indigo  */
    --folder-color11: #FF80FF; /* violet  */
    --folder-color12: #FF80BF; /* pink    */
}

body{
    padding: 0;
    margin: 0;

    background:var(--base-col-3);
}

.main {

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* overflow: hidden; */

}

/* left side */
.toolbar {

    z-index: 1;

    min-width: 14rem;
    width: 14vw;

    background: var(--base-col-1);

    padding: 0;

    border: var(--base-col-6) 3px solid;
    border-bottom: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}

.toolbar-main {
    padding: 1rem;
}

.footer {
    background: var(--base-col-6);
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 4px var(--base-col-5) solid;
}

.footer-item {
    width: 35%;
    
    border-radius: 50%;
    
    text-align: center;
    font-size: medium;
}

.footer-item > a {
    color: black;
}

.footer-item > a:hover {
    color: var(--base-col-1);
    text-shadow: var(--base-col-0) 0 0 5px;
}

.new-task-form {
    background:var(--base-col-6);
    
    padding: .125em .125em .125em .25em;

    /* outline: black 2px solid; */
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.new-task-form > input {
    height: 1.75em;
    width: 80%;
    background: var(--base-col-1);
    box-shadow: inset var(--base-col-0) 0 0 5px;
    border: none;
    border-radius: 4px;
}

.new-task-form > input:hover {
    background: var(--base-col-1);
    box-shadow: inset lightcyan 0 0 10px;
}

.new-task-form > input:focus {
    outline: var(--hightlight-2) solid 3px;
    background: var(--base-col-0);
    box-shadow: inset var(--soft-hightlight-2) 0 0 8px;

}

.new-task-form > button {
    border:var(--soft-highlight-1) 4px groove;
    height: 2.5em;
    border-radius: 4px;
}

.new-task-form > button:hover {
    border-color: var(--highlight-2);
}

/* right side */
.container {

    width: 100%;
    max-width: 86vw;


    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    overflow: hidden;

}

.content-area {

    width: 100%;
    /* height: 100%; */
    

}

.folder-name-container {

    height: 16vh;
    transform: translateY(-50%);

    z-index: 2;

    background:var(--base-col-1);


    border: 4px var(--base-col-2) solid;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.folder-name-container > div {
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.folder-name-text {
    z-index: inherit;

    height: 1em;
    min-width: 10em;
    
    margin: 0 0 0 1em;

    display: block;

    /* overflow: hidden; */
    /* overflow-y: hidden; */
    white-space: nowrap;

    text-overflow: ellipsis;

}

.sel-tools {
    margin: 0 1em;

    position: relative;
    /* top: .25em; */
    right: 0;

    background: var(--base-col-0);

    display: flex;
    justify-content: flex-end;
}

.sel-tools > div {
    
    margin: .25em;
    min-width: 1em;

    background: var(--sel-tools-btn);
    color: var(--sel-tools-txt);

    font-weight: bold;
    font-size: 4vh;

    text-align: center;
}

/* tasks */
.tasks-container {

    width: 100%;
    height: 92vh;

    position: relative;
    top: -8vh;

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */

}

.task-list {

    z-index: 0;

    height: 90.5vh;
    max-width: 86vw;

    overflow-x: scroll;

    display: flex;
    flex-flow: column wrap;

    align-content: flex-start;
    align-items: start;

}

/* width */
::-webkit-scrollbar {
    width: 1.5vh;
    height: 1.5vh;
}
  
/* Track */
::-webkit-scrollbar-track {
    border: solid 4px transparent;
    box-shadow: inset 0 0 14px 14px var(--base-col-6);
    /* box-shadow: inset 0 0 16px black;
    border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: inset 2px var(--scrollbar-thumb);
    box-shadow: inset 0 0 14px 14px var(--base-col-1);
    border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--base-col-3);
}

.task {
    min-width: 12em;
    height: 2em;

    padding: .25em;
    margin: .5em 4em;

    align-items: center;

    display: flex;
    justify-content: space-between;

    background: var(--base-col-0);

    outline: solid var(--dark-green) 3px;
    border: 2px outset darkslategrey;
    
    border-radius: 8px;

}

.task-data-wrapper {
    display: flex;
    align-items: center;
}

.task-completed {
    background: var(--base-col-6);
    outline-width: 1px;
    border: 3px solid var(--darker-green);
}

.task-complete-box {
    height: 1.25em;
    width: 1.25em;

    background: var(--base-col-2);

    outline: inset var(--base-col-4) 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

.check-box {
    opacity: 0;
    z-index: 1;
    font-size: xxx-large;
    font-weight: bolder;
    color: var(--dark-green);
    text-shadow: yellowgreen 1px 0px 2px;
}

.check-box-active {
    opacity: unset;
}

.task-completed > .task-data-wrapper > .task-complete-box {
    outline: 3px solid var(--base-col-3);
    background: var(--base-col-5);
    box-shadow: none;
}

.task-completed > .task-data-wrapper > .task-text {
    color: var(--dark-green);
    text-decoration: line-through;
    font-style: italic;
    text-align: left;
}

.task-text {
    user-select: none;
    margin: 0 .5em;
}

.task-btn-wrapper {
    width: 3.75em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.task-btn {
    height: 1.5em;
    width: 1.5em;
    margin: .25em;

    border-radius: 4px;

    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;
    align-self: center;

}

.hover-only-btn {
    opacity: 0;
    
    background: var(--base-col-1);
    box-shadow: inset var(--base-col-6) 0 0 1px;
}

.task-move-btn:hover {
    background: burlywood;
}

.list-item-del:hover {
    background: red;
}

.task:hover > .task-btn-wrapper > .hover-only-btn {
    opacity: 100%;
}

.task-selected {
    cursor: unset;
    /* background: var(--base-col3)smoke; */

    outline: 4px var(--selected-highlight) groove;
}

.search-box {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}